<div class="well">


<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row" >
  <div class="col-md-6">
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :type=>"text", :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :second_name %><br>
    <%= f.text_field :second_name, :type=>"text", :class=>"form-control" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <br/>
    <%= image_tag(@profile.image.url(:thumb)) %>
  
  </div>
    <br/>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, :class=>"form-control", :rows=>"4" %>
  </div>
   <div class="field ">
    <label>website</label><br>
    <%= f.text_field :domain, :type=>"text", :class=>"form-control" %>
  </div>
    <hr/>
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
  </div>
  <div class="col-md-6">
   <div class="field ">
    <%= f.label :location %><br>
    <%= country_select("profile", "location", priority_countries: ["GB", "FR", "US"]) %>
  </div>
  <br/>
   <div class="field">
    <%= f.label :tag_line %><br>
    <%= f.text_field :tag_line %>
  </div>
<br/>
 <div class="field">
    <%= f.label :contact_email %><br>
   <%= f.text_field :contact_email %>
  </div>
<br/>
  <div class="field">
    <%= f.label :font %><br>
    <%= f.collection_select :font, ['Nunito', 'Oxygen','Cantarell', 'Philosopher', 'Droid Sans' ,'Montserrat', 'Futura', 'Helvetica'], :to_s, :to_s, include_blank: false %>
  </div>
<br/>
  <h3>Social Links</h3>
  <div class="field">
    <%= f.label :twitter %><br>
    @<%= f.text_field :twitter %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :tumblr %><br>
    <%= f.text_field :tumblr %>.tumblr.com
  </div>
  <br/>
  <div class="field">
    <%= f.label :instagram %><br>
    www.instagram.com/<%= f.text_field :instagram %>
  </div>
<br/>

  <div class="field hidden">
    <%= f.label :cover %><br>
    <%= f.text_field :cover %>
  </div>
  <div class="field hidden">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  </div>


  </div>
<% end %>
</div>