
<br/>
<h1  class="pull-center">
  <%= link_to "#{@profile.first_name} #{@profile.second_name}", vanity_profile_path(@profile.username) %> 
  <% unless @profile.tag_line.blank? %>
  <small>
  <br/>
  <%= @profile.tag_line %>
  </small>
  <% end %>
</h1>
<br/>

<div style="text-align:center; margin:0 auto;">
 <div class="nav nav-top pull-center">
      <!-- links -->
      <% @categories.each do |cat| %>
      <div class="menu "><%= link_to cat.name, vanity_category_path( :category_id => cat.slug, :user_id => @profile.username) %></div>
      <% end %>

     <div class="menu"><a href="<%= vanity_about_path(:user_id => @profile.slug) %>">About</a></div>
     <% unless @profile.user.items == nil %>
     	<div class="menu"><a href="<%= vanity_cv_path(:user_id => @profile.slug) %>" >CV</a></div>
    <% end %>
  </div>
</div>
<hr/>




