<%= render 'nav', :categories => @categories %>
<div class="col-md-12 row" >
     <br/>
     <div class="col-md-2 col-md-offset-2">
     <%= image_tag(@profile.image.url(:standard)) %>
     <br/><br/>
     <p>
     <% unless @profile.contact_email.blank? %>
  <%= link_to @profile.contact_email, "mailto:#{@profile.contact_email}" %>
  <% end %>
  </p>

     <p>
     <%= link_to @profile.domain, "http://#{@profile.domain}", target: '_blank' %>
     </p>


    <p>
      <%= link_to raw("<i class='fa fa-twitter' ></i>"), "http://twitter.com/#{@profile.twitter}", :target => "_blank" %>
      <%= link_to raw("<i class='fa fa-instagram' ></i>"), "https://instagram.com/#{@profile.instagram}", :target => "_blank" %>
      <%= link_to raw("<i class='fa fa-tumblr' ></i>"), "http://#{@profile.tumblr}.tumblr.com", :target => "_blank" %>
      <%= link_to image_tag('ffollio.png', width: 14), vanity_profile_url(@profile.slug), :target => "_blank" %>
    </p>

     </div> 
      <div class=" col-md-4 col-md-offset-1 ">
		  <%=simple_format h @profile.bio %>
		 <br/>
    		<span class="pull-right" >
          <% if current_user and current_user.admin? %>
    			<%= link_to 'Edit', edit_profile_path(@profile)  %> 
          <% end %>
    		</span>
		</div>
    </div>