
<%= render 'nav', :categories => @categories %>

<div class="row" >
<div class="tabbable"> <!-- Only required for left/right tabs -->

  <div class="tab-content ">
    
    <div class="tab-pane " id="bio">
    <div class="col-md-12 row" >
     <br/>
     <div class="col-md-2 col-md-offset-2">
     <%= image_tag(@profile.image.url(:standard)) %>
     <br/><br/>
     <p>
     <%= link_to @profile.domain, "http://#{@profile.domain}", target: '_blank' %>
     </p>
     
    <p>
      <%= link_to raw("<i class='fa fa-twitter' ></i>"), "http://twitter.com/#{@profile.twitter}", :target => "_blank" %>
      <%= link_to raw("<i class='fa fa-instagram' ></i>"), "https://instagram.com/#{@profile.instagram}", :target => "_blank" %>
      <%= link_to raw("<i class='fa fa-tumblr' ></i>"), "http://#{@profile.tumblr}.tumblr.com", :target => "_blank" %>
    </p>

     </div> 
      <div class=" col-md-4 col-md-offset-1 ">
      <%=simple_format h @profile.bio %>
     <br/>
        <span class="pull-right" >
          <% if current_user and current_user.admin? %>
          <%= link_to 'Edit', edit_profile_path(@profile)  %> 
          <% end %>
        </span>
    </div>
    </div>
    </div>

    

    <div class="tab-pane active" id="all">
    
        <div class="col-md-2 clearfix" >
        <ul>
        <% @tags.each do |tag| %>
          <li><%= link_to "##{tag}", vanity_tag_path(:tag =>tag, :user_id => @profile.slug) %></li>
        <% end %>
        </ul>
        </div>
    <div class="col-md-10 " >

     <div id="masonry-container" class="transitions-enabled infinite-scroll  clearfix">

  
     <% @projects.each do |project| %>
      <div class=" pull-left col3 box" %>
      <% if project.video == nil || project.video == '' %> 
     <%= link_to image_tag(project.image.url(:standard), width: 250), vanity_project_path(user_id: project.user.profile.slug, id: project.id) %>
     <% else %>
     <%= link_to cl_image_tag("#{project.title}.jpg", :resource_type=>"video"), vanity_project_path(user_id: project.user.profile.slug, id: project.id) %>
     <% end %>
      <h3 class="hidden"><%= link_to project.title, vanity_project_path(user_id: project.user.profile.slug, id: project.id) %></h3>
      </div>
     <% end %>

</div>
</div>
    </div>



  </div>
</div>



</div>
</div>




