<%= render 'nav', :categories => @categories %>
  <div class="pull-center">
<div class="menu"><a href="<%= vanity_profile_path(:id => @profile.slug) %>"  >Latest</a></div>
<div class="menu active"><a href="<%= vanity_popular_path(:user_id => @profile.slug) %>"  >Popular</a></div>
<div class="menu"><a href="<%= vanity_random_path(:user_id => @profile.slug) %>"  >Random</a></div>
</div>



<div class="row" >

     
    <div class="col-md-10 col-md-offset-1" >

     <div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">

  
     <% @popular.each do |project| %>
      <div class=" pull-left col3 box" %>
      <% if project.video == nil || project.video == '' %> 
     <%= link_to image_tag(project.image.url(:standard), width: 250), vanity_project_path(user_id: project.user.profile.slug, id: project.slug) %>
     <% else %>
     <%= link_to cl_image_tag("#{project.title}.jpg", :resource_type=>"video"), vanity_project_path(user_id: project.user.profile.slug, id: project.slug) %>
     <% end %>
      <h3 class="hidden"><%= link_to project.title, vanity_project_path(user_id: project.user.profile.slug, id: project.slug) %></h3>
      </div>
     <% end %>

</div>
<%= paginate @popular %>
</div>
    </div>







