
<div class="col-md-12">
<div class="col-md-2">

<h1>
  <%= @profile.first_name %>
<br/>
  <%= @profile.second_name %>
</h1>


</div>

<div class="col-md-10">

<div class="pull-center">
<h2>Title</h2>
</div>

</div>
<div class="row" >
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-pills">
    

    <li class="dropdown active">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Projects
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="#all" data-toggle="tab">All</a></li>
      <!-- links -->
      <% @tags.each_with_index do |tag, index| %>
      <li><a href="#<%= index %>" data-toggle="tab"><%= tag %></a></li>
      <% end %>
    </ul>
  </li>
     <li ><a href="#bio" data-toggle="tab">Bio</a></li>
    
  </ul>
  <hr/>
  <div class="tab-content col-sm-12">
    
    <div class="tab-pane " id="bio">
     <br/>
      <p class="well col-sm-12 ">
		  <%= @profile.bio %>
		 
		<p class="pull-right" >
			<%= link_to 'Edit', edit_profile_path(@profile)  %> 
		</p>
		</p>
    </div>

    <% @tags.each_with_index do |tag, index| %>
    <div class="tab-pane " id="<%= index %>">

         <br/>
    <div class="col-sm-2">
      <br/>
        <ul class="nav nav-tabs nav-stacked">
      <% @projects.tagged_with(tag).each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>

    </ul>

</div>
      <% @projects.tagged_with(tag).each do |project| %>
        <div class=" pull-left col-sm-3" %>
     <%= image_tag('http://placebear.com/200/300') %>
      <h3><%= project.title %></h3>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="tab-pane active" id="all">
     <br/>
     <div class="col-sm-2">
      <br/>
        <ul class="nav nav-tabs nav-stacked">
      <% @projects.each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>

    </ul>

</div>
     <% @projects.each do |project| %>
      <div class=" pull-left col-sm-3" %>
     <%= image_tag('http://placebear.com/200/300') %>
      <h3><%= project.title %></h3>
      </div>
     <% end %>


    </div>



  </div>
</div>


<p>
  <%= @profile.twitter %>
</p>






</div>
</div>



