
<%= render 'nav', :categories => @categories %>

<div class="row" >
<div class="tabbable"> <!-- Only required for left/right tabs -->

  <div class="tab-content col-sm-12">
    
    <div class="tab-pane " id="bio">
     <br/>
     <div class="col-sm-3">
     <%= image_tag(@profile.image.url(:standard)) %>
     </div> 
      <p class="well col-sm-9 ">
		  <%= @profile.bio %>
		 
    		<span class="pull-right" >
          <% if current_user and current_user.admin? %>
    			<%= link_to 'Edit', edit_profile_path(@profile)  %> 
          <% end %>
    		</span>
		</p>
    </div>

    

    <div class="tab-pane active" id="all">
     <br/>
      <div class="col-sm-2">
      <br/>

    <ul class="nav nav-stacked">
      <!-- links -->
      <% @tags.take(5).each do |tag| %>
      <li role="presentation" ><%= link_to "##{tag}", vanity_tag_path(user_id: @profile.slug, :tag => tag) %></li>
      <% end %>
  </ul>

    </div>
    <div class="col-md-10" >

     <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  
     <% @projects.each do |project| %>
      <div class=" pull-left col3 box" %>
     <% if project.video == '' %> 
     <%= link_to image_tag(project.image.url(:standard)), vanity_project_path(user_id: project.user.profile.slug, project: project.id) %>
     <% else %>
     <%= link_to cl_image_tag("#{project.title}.jpg", :resource_type=>"video"), vanity_project_path(user_id: project.user.profile.slug, project: project.id) %>
     <% end %>
      <h3 class="hidden"><%= link_to project.title, vanity_project_path(user_id: project.user.profile.slug, project: project.id) %></h3>
      </div>
     <% end %>

</div>
</div>
    </div>



  </div>
</div>


<p>
  <%= @profile.twitter %>
</p>


</div>
</div>




