
<%= render 'nav' %>

<div class="row" >
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-pills">
    

    
      <li class="active"><a href="#all" data-toggle="tab">All</a></li>
      <!-- links -->
      <% @tags.take(5).each_with_index do |tag, index| %>
      <li><a href="#<%= index %>" data-toggle="tab"><%= tag %></a></li>
      <% end %>

     <li ><a href="#bio" data-toggle="tab">About</a></li>
    
  </ul>
  <hr/>
  <div class="tab-content col-sm-12">
    
    <div class="tab-pane " id="bio">
     <br/>
     <div class="col-sm-3">
     <%= image_tag(@profile.image.url(:standard)) %>
     </div> 
      <p class="well col-sm-9 ">
		  <%= @profile.bio %>
		 
    		<span class="pull-right" >
          <% if current_user and current_user.admin? %>
    			<%= link_to 'Edit', edit_profile_path(@profile)  %> 
          <% end %>
    		</span>
		</p>
    </div>

    <% @tags.each_with_index do |tag, index| %>
    <div class="tab-pane " id="<%= index %>">

         <br/>
    <div class="col-sm-2">
      <br/>
        <ul class="nav nav-tabs nav-stacked">
      <% @projects.tagged_with(tag).each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>

    </ul>

    </div>

    <div class="col-md-10" >

     <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">


      <% @projects.tagged_with(tag).each do |project| %>
        <div class=" pull-left col3" %>
     <%= link_to image_tag(project.image.url(:standard)), project_path(project) %>
      <h3 class="hidden"><%= project.title %></h3>
      </div>
      <% end %>
      </div></div>

    </div>
    <% end %>

    <div class="tab-pane active" id="all">
     <br/>
      <div class="col-sm-2">
      <br/>
        <ul class="nav nav-tabs nav-stacked">
      <% @projects.each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>

    </ul>

    </div>
    <div class="col-md-10" >

     <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  
     <% @projects.each do |project| %>
      <div class=" pull-left col3" %>
     <%= link_to image_tag(project.image.url(:standard)), project_path(project) %>
      <h3 class="hidden"><%= link_to project.title, project_path(project) %></h3>
      </div>
     <% end %>

</div>
</div>
    </div>



  </div>
</div>


<p>
  <%= @profile.twitter %>
</p>


</div>
</div>




