<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <div id="welcome" class="span7 pull-center">
    <h1>Create a Portfolio</h1>
    <h3>Subscribe below...</h3>
    <br/>
  </div>
  <div class=" col-sm-12 plans">
    <div class="col-sm-3  well">
      <div class="plan"><h2>Silver</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">Unlimited image file hosting</li>
        <li class="list-group-item">Customised subdomains (e.g. yourname.ffoll.io)</li>
        <li class="list-group-item">Free profile page www.ffoll.io/yourname</li>
      </ol>
      <hr/>
      <h3>$9/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'silver'), :class => 'white btn btn-primary' %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 well featured">
      <div class="plan featured-plan"><h2>Gold</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">Silver Plan Plus...</li>
        <li class="list-group-item">Google Analytics</li>
        <li class="list-group-item">Video Uploads</li>
      </ol>
      <hr/>
      <h3>$19/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'gold'), :class => 'white btn btn-primary' %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 well">
      <div class="plan"><h2>Platinum</h2></div>
      <ul class="list-unstyled list-group">
         <li class="list-group-item">Gold Plan Plus...</li>
        <li class="list-group-item">Facebook Page App</li>
        <li class="list-group-item">Video Uploads</li>
      </ul>
      <h3>$29/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'platinum'), :class => 'white btn btn-primary' %>
    </div>
  </div>
<% end %>
