<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <div id="welcome" class="span7 ">

  <br/>
    <!-- <h1 class="pull-center">Join Us<br/>
    <small class="pull-center">Create a Portfolio</small> -->
    </h1>
    
  </div>
  <div class=" col-sm-12 pull-center">
    
    
<h1>Welcome to ffollio<sup><small> Beta</small></sup></h1>
<hr/>
<h2>ffollio is an independent project, designed to be a service for visual creatives to easily & effectively organize their own online portfolios. 
<br/>
<br/>The platform also offers visitors the chance explore work from other users.
<br/>
<br/>ffollio is free to use, for everyone.</h2>



<br/>
<%= link_to 'Join the Beta', new_user_registration_path(plan: 'free'), :class => 'white btn btn-primary' %>
<br/>
<br/>

<p>Remember, this is only our Beta, there is still a lot of work to come. Please experiment and use to your heart's content. We are interested to know how we can help improve ffollio to make it better for all of us. The more feedback we get from you, the better we can mold and shape it. This project is pretty relaxed, but we do want to improve it quickly!</p>

  </div>
  <div class=" col-sm-12 plans">
  
    <div class="col-sm-5 col-sm-offset-1  well hidden">
      <div class="plan"><h2>Join the Beta</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">&#10004; Unlimited file hosting</li>
        <li class="list-group-item">&#10004; A micro-site via subdomain</li>
        <li class="list-group-item">&#10004; Profile & Project pages</li>
      </ol>
      <hr/>
      <!-- <h3>$0/month</h3> -->
      <%= link_to 'Signup for Free', new_user_registration_path(plan: 'free'), :class => 'white btn btn-primary' %>
    </div>

    <div class="col-sm-3 hidden  well">
      <div class="plan"><h2>Silver</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">&#10004; Unlimited file hosting</li>
        <li class="list-group-item">&#10004; Micro-site via Subdomain</li>
        <li class="list-group-item">&#10004; Profile & Project pages</li>
      </ol>
      <hr/>
      <h3>$9/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'silver'), :class => 'white btn btn-primary' %>
    </div>
    <div class="col-sm-3  well hidden featured">
      <div class="plan featured-plan"><h2>Gold</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">&#10004; Silver Plan plus...</li>
        <li class="list-group-item">&#10004; Google Analytics</li>
        <li class="list-group-item">&#10004; Video Embeds</li>
      </ol>
      <hr/>
      <h3>$19/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'gold'), :class => 'white btn btn-primary' %>
    </div>
    <div class="col-sm-3  well hidden">
      <div class="plan"><h2>Platinum</h2></div>
      <ul class="list-unstyled list-group">
         <li class="list-group-item">&#10004; Gold Plan plus...</li>
        <li class="list-group-item">&#10004; Facebook Page App</li>
        <li class="list-group-item">&#10004; Email Support</li>
      </ul>
      <hr/>
      <h3>$29/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'platinum'), :class => 'white btn btn-primary' %>
    </div>
  </div>
<% end %>
