<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <div id="welcome" class="span7 ">
  <br/>
    <h1 class="pull-center">Choose a Plan<br/>
    <small class="pull-center">Create a Portfolio</small>
    </h1>
    <hr/>
    <br/>
  </div>
  <div class=" col-sm-12 plans">
    <div class="col-sm-3  well">
      <div class="plan"><h2>Free</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">&#10004; Unlimited file hosting</li>
        <li class="list-group-item">&#10004; No credit-card needed</li>
        <li class="list-group-item">&#10004; Profile & Project pages</li>
      </ol>
      <hr/>
      <h3>$0/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'free'), :class => 'white btn btn-primary' %>
    </div>

    <div class="col-sm-3   well">
      <div class="plan"><h2>Silver</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">&#10004; Unlimited file hosting</li>
        <li class="list-group-item">&#10004; Micro-site Subdomain</li>
        <li class="list-group-item">&#10004; Profile & Project pages</li>
      </ol>
      <hr/>
      <h3>$9/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'silver'), :class => 'white btn btn-primary' %>
    </div>
    <div class="col-sm-3  well featured">
      <div class="plan featured-plan"><h2>Gold</h2></div>
      <ol class="list-unstyled list-group">
        <li class="list-group-item">&#10004; Silver Plan plus...</li>
        <li class="list-group-item">&#10004; Google Analytics</li>
        <li class="list-group-item">&#10004; Video Embeds</li>
      </ol>
      <hr/>
      <h3>$19/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'gold'), :class => 'white btn btn-primary' %>
    </div>
    <div class="col-sm-3  well">
      <div class="plan"><h2>Platinum</h2></div>
      <ul class="list-unstyled list-group">
         <li class="list-group-item">&#10004; Gold Plan plus...</li>
        <li class="list-group-item">&#10004; Facebook Page App</li>
        <li class="list-group-item">&#10004; Email Support</li>
      </ul>
      <hr/>
      <h3>$29/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'platinum'), :class => 'white btn btn-primary' %>
    </div>
  </div>
<% end %>
