<div class="well">
<%= form_for(@project, :class => "form-horizontal") do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
<div class="form-group col-lg-6">
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :type=>"text", :class=>"form-control" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class=>"form-control", :rows=>"3" %>
  </div>
  <div class="field hidden">
    <%= f.label :cover %><br>

  </div>
  <br/>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tag_list, :type=>"text", :class=>"form-control" %>
  </div>
  <br/>
  <% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
  </div>
  <% else %>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.where(:user_id => current_user.id), :id, :name, include_blank: true %>
  </div>

  <% end %>
  <% end %>
  <br/>
   <p>(<%= link_to 'New Category', new_category_path %>)</p>
  <br/>
  <div class="field">
    <%= f.label "Embed link" %><br>
    <%= f.text_field :embed , :type=>"text", :class=>"form-control"%>
  </div>
  <br/>
  <div class="field hidden">
    <%= f.label :video %><br>
    <%= f.file_field :video %>
  </div>
  <hr/>
  <div class="actions">
    <%= f.submit :class => "btn"  %>
  </div>
  </div>

  <div class="form-group col-lg-6">
    <div class="field ">
    <%= f.label "Slider images" %><br>
    <%= attachinary_file_field_tag 'project[images]', @project, :images %>
  </div>
   
  </div>
  
  
<% end %>
</fieldset>


