<div class="col-md-12" >
<br/>
<h1 class="pull-center"><%= image_tag('ffollio-black.png', width: 40) %> FFOLLIO<br/>
<small>Create a Portfolio</small>
</h1>

<hr/>
</div>



<div style="pull-center">
  <!-- Nav tabs -->
  <div class="nav nav-top" >
    <span role="presentation" class="active menu "><a href="<%= root_path %>">Latest</a></span>
    <span role="presentation" class="menu "><a href="<%= popular_path %>">Popular</a></span>
    <span role="presentation" class="menu "><a href="<%= random_path %>" >Random</a></span>
   
  </div>

</div>
   <!-- Tab panes -->

    <div class="col-md-10 col-md-offset-1" >
      
  <div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix masonry">

  <%= render 'projects' %>

</div>

<%= paginate @projects %>

</div>



