
<div class="col-md-12 row clearfix">
<div class="col-md-2" >
<h1 style="border-right: solid 1px #eee;">
  <%= link_to @project.user.profile.first_name, profile_path(@project.user.profile) %>
  <br/>
  <%= link_to @project.user.profile.second_name, profile_path(@project.user.profile) %>
</h1>
</div>


<div class="col-md-10">

    <h2><%= @project.title %></h2>

   
 <%  @project.tag_list.each do |tag| %>
	<label class="label label-default"><%= tag %></label>
<% end %>
</div>
</div>
<br/><hr/><br/>
<div class="row">





 <div class="col-md-6">


<br>
<% if @project.video != '' %>

<div align="center" class="embed-responsive embed-responsive-16by9" >
      <%= cl_video_tag(@project.video, :video_codec=>"auto", :controls => true, style: 'background-color:black;', :width => 750,
            :height => 500, :poster => @project.image) %>
        <div id="video_overlays">
          <img src="http://res.cloudinary.com/vidgeo/image/upload/c_scale,e_gamma:-50,o_24,w_50/v1433273158/eye_tk7kls.png"/>
      </div>
</div>

<% end %>

<br>
<p class="well">

  <%= @project.description %>
</p>

<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
<% end %>

 </div>

 <div class="col-md-6">

 <%= image_tag @project.image.url(:large) %>
 <% if @project.video != '' %>
<%= cl_image_tag("#{@project.title}.jpg", :resource_type=>"video") %> 
<% end %>
 </div>

  
 </div>






