
<h1>
  <%= @project.title %>
  <small>
  <%= link_to @project.user.email, user_path(@project.user) %>
</small>

</h1>

<%  @project.tag_list.each do |tag| %>
	<label class="label label-default"><%= tag %></label>
<% end %>

<br/><hr/>

<p class="well">
  <strong>Description:</strong>
  <%= @project.description %>
</p>




<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
