<% content_for :page_javascript do %>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>


 <script type="text/javascript">
 $(document).ready(function(){
    $('#embed a').embedly(
      {key: '8d4c76144f8711e1b4764040d3dc5c07',
      query: {
      maxwidth: 600,
      maxheight: 400,
      chars: 200,
      autoplay: false, 
      className: "embed-responsive-item"
    }});
 });

 </script>
<% end %>




<div class="col-md-12 clearfix">
   <h1 class=""><%= @project.title.titleize %></h1>

<h2 style="">
  by
  <%= link_to "#{@project.user.profile.first_name} #{@project.user.profile.second_name}", vanity_profile_path(@project.user.profile.username) %>
  <% unless @project.category_id == nil %> 
      <small>
      in <%= link_to @project.category.name.titleize, vanity_category_path(@project.user.profile.username, :category_id => @project.category.slug) %> 
      </small>
  <% end %>
</h2>
<hr/>
</div>


<div class="">


<div class="col-md-8">


<% if @project.embed_code != ""  %>
  <div id="embed" class="embed-responsive embed-responsive-16by9">
    <%= raw(@project.embed_code) %>
  </div>
  <% end %>

  <div id="embed" class="embed-responsive embed-responsive-16by9">
    <%#= link_to @project.embed, @project.embed, :style=>"color:white !important;", :class=>"embed-responsive-item"%>
  </div>


<% unless @project.video.blank? %>


<div align="center" class="embed-responsive embed-responsive-16by9" >
      <%#= cl_video_tag(@project.video, :video_codec=>"auto", :controls => true, style: 'background-color:black;', :width => 750,
            :height => 500, :poster => @project.image.url()) %>
     <!--    <div id="video_overlays">
          <img src="http://res.cloudinary.com/vidgeo/image/upload/c_scale,e_gamma:-50,o_24,w_50/v1433273158/eye_tk7kls.png"/>
      </div> -->
</div>

<% end %>

<% if @project.video.blank? and @project.embed.blank? %>

  <% if @project.images.blank? %>
    <%= image_tag @project.image.url(:large), :class => "img-responsive" %>
  <% else %>
    <%= render  'slider' %> 
  <% end %>

<% end %>
<br/>
 </div>


 <div class="col-md-4 ">
   <label class="label label-primary"><i class="icon-eye"></i><%= @project.views %> views</label>
        <%  @project.tag_list.each do |tag| %>
  <label class="label label-default">#<%= link_to tag, tag_path(tag: tag), :class=>"white"%></label>
<% end %>

<p class="">
  <%=simple_format h auto_link(@project.description, :html => { :target => '_blank' }) %>
</p>

<%#= link_to 'Back', url_for(:back) %>

<% unless @previous == nil %>
   <%= link_to 'Previous', vanity_project_path(:id => @previous.slug, :user_id => @project.user.profile.slug) %>
<% end %>
<% unless @next == nil %>
  | <%= link_to 'Next', vanity_project_path(:id => @next.slug, :user_id => @project.user.profile.slug) %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.try(:admin?) || current_user == @project.user %>
 | <%= link_to 'Edit', edit_project_path(@project) %> | 
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

 </div>

 

  
 </div>



