
    <p class="pull-right ">
      <%= link_to raw("<i class='fa fa-twitter' ></i>"), "http://twitter.com/#{@profile.twitter}", :target => "_blank" %>
      <%= link_to raw("<i class='fa fa-instagram' ></i>"), "https://instagram.com/#{@profile.instagram}", :target => "_blank" %>
      <%= link_to raw("<i class='fa fa-tumblr' ></i>"), "http://#{@profile.tumblr}.tumblr.com", :target => "_blank" %>
         <%= link_to image_tag('ffollio.png', width: 14), "http://ffoll.io/#{@profile.slug}", :target => "_blank" %>
    </p>



<br/>

<br/>
<h1  class="pull-center">
  <%= link_to "#{@profile.first_name} #{@profile.second_name}", site_profile_path(@profile.username) %> 
</h1>
<br/>

<div style="text-align:center; margin:0 auto;">
 <div class="nav nav-top pull-center">
      <!-- links -->
      <% @categories.each do |cat| %>
      <div class="menu "><%= link_to cat.name, site_category_path( :category_id => cat.slug) %></div>
      <% end %>

     <div class="menu"><a href="<%= site_about_path %>">About</a></div>
     <div class="menu"><a href="<%= site_cv_path %>" >CV</a></div>
    
  </div>
</div>
<hr/>



