<%= render 'nav', :categories => @categories %>
<div class="col-md-offset-2 col-md-8"> 
<div class="tab-pane " id="cv">
    <div class="col-md-12 row" >
     <br/>
     <% unless @cv.count == 0 %>

       <% @cv.each do |item| %>
        <h2><%= item.title %></h2>
        <h4><%= item.location %></h4>
        <p><%= item.start.strftime("%B %d, %Y") %> </p>
        <p> <%=simple_format h auto_link(item.about, :html => { :target => '_blank' }) %></p>
        <% if item.user == current_user %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <hr/>
        <% end %>
        <% end %>
      <% else %>
        Nothing doing yet...
      <% end %>
    </div>
    </div>
</div>
   