<% content_for :page_javascript do %>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>


 <script type="text/javascript">
 $(document).ready(function(){
    $('#embed a').embedly(
      {key: '8d4c76144f8711e1b4764040d3dc5c07',
      query: {
      maxwidth: 600,
      maxheight: 400,
      chars: 200,
      autoplay: false
    }});
 });

 </script>
<% end %>

<div class="row clearfix">
<div class="col-md-12">

 <h1><%= @project.title %>
<br/>
<% if @project.category != nil %>
<small>in 
  <%= link_to @project.category.name, site_category_path(@project.category.id) %>
</small>
</h1>
<% end %>
   
<hr/>
</div>

</div>

<div class="row">

<div class="col-md-8">

<% unless  @project.embed.blank? %>

<div id="embed">
<%= link_to @project.embed, @project.embed, :style=>"color:white !important;"%>
</div>

<% end %>

<% unless @project.video.blank? %>


<div align="center" class="embed-responsive embed-responsive-16by9" >
      <%#= cl_video_tag(@project.video, :video_codec=>"auto", :controls => true, style: 'background-color:black;', :width => 750,
            :height => 500, :poster => @project.image.url()) %>
     <!--    <div id="video_overlays">
          <img src="http://res.cloudinary.com/vidgeo/image/upload/c_scale,e_gamma:-50,o_24,w_50/v1433273158/eye_tk7kls.png"/>
      </div> -->
</div>

<% end %>

<% if @project.video.blank? and @project.embed.blank? %>

  <% if @project.images.blank? %>
    <%= image_tag @project.image.url(:large) %>
  <% else %>
    <%= render  'slider' %> 
  <% end %>

<% end %>
 </div>


 <div class="col-md-4 ">



<p class="">

  <%=simple_format h @project.description %>
</p>

 <%  @project.tag_list.each do |tag| %>
  #<%= link_to tag, site_tag_path(tag) %></label>
<% end %>
<br/>
<%= link_to 'Back', url_for(:back) %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
 | <%= link_to 'Edit', edit_project_path(@project) %> | 
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

 </div>

 

  
 </div>






