
<div class="row clearfix">
<div class="col-md-12">

 <h1><%= @project.title %>
<br/>
<% if @project.category != nil %>
<small>in 
  <%= link_to @project.category.name, site_category_path(@project.category.id) %>
</small>
</h1>
<% end %>
   

</div>

</div>

<div class="row">

<div class="col-md-8">

 <%= image_tag @project.image.url(:large) %>

     <% unless @project.video.blank? %>
      <%= cl_image_tag("#{@project.title}.jpg", :resource_type=>"video") %> 
    <% end %>
 </div>


 <div class="col-md-4 ">


<br>
<% unless @project.video.blank? %>

<div align="center" class="embed-responsive embed-responsive-16by9" >
      <%= cl_video_tag(@project.video, :video_codec=>"auto", :controls => true, style: 'background-color:black;', :width => 750,
            :height => 500, :poster => @project.image.url()) %>
     <!--    <div id="video_overlays">
          <img src="http://res.cloudinary.com/vidgeo/image/upload/c_scale,e_gamma:-50,o_24,w_50/v1433273158/eye_tk7kls.png"/>
      </div> -->
</div>

<% end %>

<br>
<p class="">

  <%=simple_format h @project.description %>
</p>

 <%  @project.tag_list.each do |tag| %>
  #<%= tag %></label>
<% end %>
<br/>
<%= link_to 'Back', url_for(:back) %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
 | <%= link_to 'Edit', edit_project_path(@project) %> | 
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

 </div>

 

  
 </div>






