
<%= render 'nav', :categories => @categories %>


<div class="row">
<div class="col-md-2" >

<h1 style="border-right: solid 1px #eee;">
  <%= link_to @profile.first_name, page_profile_path(@profile.username) %>
<br/>
  <%= link_to @profile.second_name, page_profile_path(@profile.username) %>
</h1>


</div>

<div class="col-md-10">

  

 <br/><br/><br/> 

 <ul class="nav nav-pills">
    
    
      <!-- links -->
      <% @categories.each do |cat| %>
      <li class="menu"><%= link_to cat.name, page_category_path( :category_id => cat.id) %></li>
      <% end %>

     <li ><a href="#bio" data-toggle="tab">About</a></li>
    
  </ul>


</div>

</div>

<hr/>
<div class="row" >
<div class="tabbable"> <!-- Only required for left/right tabs -->
  
  <div class="tab-content col-sm-12">
    
    <div class="tab-pane " id="bio">
     <br/>
     <div class="col-sm-3">
     <%= image_tag(@profile.image.url(:standard)) %>
     </div> 
      <p class="well col-sm-9 ">
      <%= @profile.bio %>
     
        <span class="pull-right" >
          <% if current_user and current_user.admin? %>
          <%= link_to 'Edit', edit_profile_path(@profile)  %> 
          <% end %>
        </span>
    </p>
    </div>

   
    <div class="tab-pane active" id="all">
     <br/>
      <div class="col-sm-2">
      <br/>
        <ul class="nav nav-stacked">
      
    <ul class="nav nav-stacked">
      <!-- links -->
      <% @tags.take(5).each do |tag| %>
      <li role="presentation" ><%= link_to "##{tag}", page_tag_path(:tag => tag) %></li>
      <% end %>
  </ul>



    </div>
    <div class="col-md-10" >

     <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  
     <% @projects.each do |project| %>
      <div class=" pull-left col3 box" %>
     <%= link_to image_tag(project.image.url(:standard)), project_path(project) %>
      <h3 class="hidden"><%= link_to project.title, project_path(project) %></h3>
      </div>
     <% end %>

</div>
</div>
    </div>



  </div>
</div>


<p>
  <%= @profile.twitter %>
</p>


</div>
</div>




